html,body{font-family: 'Montserrat', sans-serif; height: 100vh; background-color: #e1eaf3;}
.bd{padding: 30px;}
.logoTop{width: 150px; display: block;}
.fore{background-color: #9b1f15;}
/*.footer{position: fixed; bottom: 0px;}*/
h3{position: relative; font-weight: bold;}
.v-line{float: right; height: 300px; width: 2px; background-color: #9b1f15; display: block;}
.red-b{border-color: #9b1f15;}
.copy{color: #fff; display: block;}
.footer-text{color: #fff; display: block; font-weight: bold;}
.ft-logo{width: 300px;}
.btn-sos{color: #9b1f15; border-radius: 50px; border: 0 none; width:30px; height: 30px; text-align: center;}
.btn-stext{color: #fff;}
.info-box{font-style: italic;}
.form-label{font-size: 13px; font-weight: bold;}


.btn-instagram{background-image: url('../images/icon_13.png'); background-color: transparent; background-size: cover; width: 30px; height: 30px; display: block;}
.btn-facebook{background-image: url('../images/icon_15.png'); background-color: transparent; background-size: cover; width: 30px; height: 30px; display: block;}
.btn-youtube{background-image: url('../images/icon_19.png'); background-color: transparent; background-size: cover; width: 30px; height: 30px; display: block;}
.btn-twitter{background-image: url('../images/icon_17.png'); background-color: transparent; background-size: cover; width: 30px; height: 30px; display: block;}
