html,body{font-family: 'Montserrat', sans-serif; height: 100vh;}
.bd{padding: 30px;}
.logoTop{width: 150px; display: block;}
.fore{background-color: #9b1f15;}
/*.footer{position: fixed; bottom: 0px;}*/
h3{position: relative; font-weight: bold;}
.v-line{float: right; height: 300px; width: 2px; background-color: #9b1f15; display: block;}
.form-select{border-color: #9b1f15;}
.copy{color: #fff; display: block;}
.footer-text{color: #fff; display: block; font-weight: bold;}
.ft-logo{width: 300px;}
.btn-sos{color: #9b1f15; padding: 5px 10px; border-radius: 50px; border: 0 none;}
.btn-stext{color: #fff;}
.scroll-line{
	height: 410px;
    width: 560px;
    overflow: hidden;
    overflow-y: scroll;
}
.v-line{
    height: 300px;
    width: 2px;
    background-color: #9b1f15;
    display: block;
    position: absolute;
    top: 90px;
    left: 0;
}
