html body{
	height: 100vh;
}
.lft-box{
	padding: 50px !important;
	position: relative;
	overflow: hidden;
	background: url('../images/main-left.jpg');
	background-repeat: no-repeat;
	background-size: 219%;
	background-position-x: -290px;
}
.rgt-box{
	padding: 50px !important;
	height: 100vh;
	background: rgba(58,123,239,1);
	background: -moz-linear-gradient(top, rgba(58,123,239,1) 0%, rgba(20,160,253,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(58,123,239,1)), color-stop(100%, rgba(20,160,253,1)));
	background: -webkit-linear-gradient(top, rgba(58,123,239,1) 0%, rgba(20,160,253,1) 100%);
	background: -o-linear-gradient(top, rgba(58,123,239,1) 0%, rgba(20,160,253,1) 100%);
	background: -ms-linear-gradient(top, rgba(58,123,239,1) 0%, rgba(20,160,253,1) 100%);
	background: linear-gradient(to bottom, rgba(58,123,239,1) 0%, rgba(20,160,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a7bef', endColorstr='#14a0fd', GradientType=0 );
}
.rgt-box small{
	color: #fff;
}
.w-text{
	position: absolute;
	top: 20%;
}
.m-title{
	position: absolute;
	top: 30%;
}
.inf{
	position: absolute;
	bottom: 210px;
}
.copy{
	display: block;
	position: absolute;
	bottom: 30px;
}
.lg{
	position: absolute;
	top: 40px;
	display: block;
	width: 30%;
}
.form-control{
	border-radius: 0 !important;
}
.up-file{
	border: 1px solid #75aff3;
    padding: 10px;
    color: #fff !important;
}
.btn-sub{
	border:0 none;
	cursor: pointer;
	float: right;
	margin-top: 30px;
	padding: 10px 30px;
	background: rgba(133,177,252,1);
	background: -moz-linear-gradient(top, rgba(133,177,252,1) 0%, rgba(235,239,245,1) 51%, rgba(211,223,242,1) 51%, rgba(20,160,253,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(133,177,252,1)), color-stop(51%, rgba(235,239,245,1)), color-stop(51%, rgba(211,223,242,1)), color-stop(100%, rgba(20,160,253,1)));
	background: -webkit-linear-gradient(top, rgba(133,177,252,1) 0%, rgba(235,239,245,1) 51%, rgba(211,223,242,1) 51%, rgba(20,160,253,1) 100%);
	background: -o-linear-gradient(top, rgba(133,177,252,1) 0%, rgba(235,239,245,1) 51%, rgba(211,223,242,1) 51%, rgba(20,160,253,1) 100%);
	background: -ms-linear-gradient(top, rgba(133,177,252,1) 0%, rgba(235,239,245,1) 51%, rgba(211,223,242,1) 51%, rgba(20,160,253,1) 100%);
	background: linear-gradient(to bottom, rgba(133,177,252,1) 0%, rgba(235,239,245,1) 51%, rgba(211,223,242,1) 51%, rgba(20,160,253,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#85b1fc', endColorstr='#14a0fd', GradientType=0 );
}
.imgStat{
	width: 230px;
	text-align: center;
	margin: 0 auto;
	display: block;
}
.ss-control{
	width: 230px !important;
	float: right;
}
.text-time{
	padding-top: 15px;
    line-height: 1;
    display: -webkit-inline-box;
}
.imgLong{
	position: absolute;
	left: -220px;
	width: 930px;
	bottom: -170px;
	z-index: 0;
	opacity: 0.2;
}
.bk-cl{
	background: rgb(21,129,222);
	background: linear-gradient(90deg, rgba(21,129,222,1) 0%, rgba(10,72,157,1) 100%);
	border:0 !important;
}
.pm-start{
	list-style: decimal;
	padding-left: 18px;
	color: #fff;
	font-size: 13px;
	margin-top: 3%;
	/*width: 480px;*/
}
.pm-start li{
	margin-bottom: 10px;
}
.endText{
	display: block;
	color: #fff;
	font-size: 20px;
}
